<div class="jumbotron jumbotron-fluid">
    <div class="container"> 
      <h1 class="display-4" style="font-family: Britannic, sans-serif;" class="animate__animated animate__bounce">MCDONALDS APP</h1>
      <p class="lead" class="animate__animated animate__bounce" >En esta app encontrarás productos en buen precio.</p>

    </div>
</div>


<div class="container my-5">
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets/img/hamburguesa.png" class="card-img-top img-fluid" alt="Promoción de hamburguesas" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Hamburguesas Exclusivas</h5>
          <p class="card-text">Prueba nuestras deliciosas hamburguesas preparadas al momento.</p>
          <a href="#" class="btn btn-primary mt-auto">Ordenar Ahora</a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets/img/combos.jpg" class="card-img-top img-fluid" alt="Combo de comida" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Combos a Excelente Precio</h5>
          <p class="card-text">Combina tus productos favoritos a un precio inmejorable.</p>
          <a href="#" class="btn btn-primary mt-auto">Explorar Combos</a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card h-100">
        <img src="assets/img/postres.jpg" class="card-img-top img-fluid" alt="Postres y bebidas" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Postres y Bebidas</h5>
          <p class="card-text">No te olvides de nuestros deliciosos postres y bebidas.</p>
          <a href="#" class="btn btn-primary mt-auto">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
</div>
